.shoppingCartPage {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "Cabin";
}

.cartItems {
  width: 70%;
}

.cartItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 1000px;
}

.itemImage {
  width: 250px;
  margin-right: 20px;
}

.itemDetails {
  flex-grow: 1;
}

/* .itemActions {
  display: flex;
  gap: 10px;
} */

.removebutton1 {
  background-color: #005823;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

.removebutton1:hover {
  background-color: #5b7860;
  transform: scale(1.1);
}

.add-to-cart-button,
.remove-from-cart-button:hover {
  font-size: 20px;
  background-color: #ffffff;
  color: #5b7860;
  border: 2px solid #5b7860;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;

  padding-top: 1px;
}

.add-to-cart-button:hover {
  background-color: #106f10;
  color: #fff;
}

.remove-from-cart-button:hover {
  background-color: #d9534f;
  color: #fff;
}

.cartSummary {
  width: 25%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.emptyMessage {
  text-align: center;
  color: #888;
}

.topbar {
  align-content: center;
  display: flex;
  justify-content: flex-end;
}

.continueShoppingButton {
  background-color: #005823;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  transition: transform 0.3s ease;
  margin-right: 90%;
}

.checkoutButton {
  background-color: #005823;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

.continueShoppingButton:hover,
.checkoutButton:hover {
  background-color: #5b7860;
  transform: scale(1.1);
}
