.product-heading {
  text-align: center;
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.add-item-button {
  padding: 5px 10px;
  background-color: #005823;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-new-item-content {
  display: flex;
  flex-direction: column;
}

.item-actions button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.item-actions button:hover {
  background-color: #ff7961;
}
