.category-button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-button:hover {
  background-color: #ff7961;
}

.category-button-container {
  display: flex;
  align-items: center;
  gap: 1px;
  margin-top: auto;
}

.add-category-button {
  padding: 5px 10px;
  background-color: #005823;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
