/* ProductEdit.css */
.product-edit-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.product-edit-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
}

.product-edit-close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.product-edit-close-button:hover,
.product-edit-close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.product-edit-form {
  display: flex;
  flex-direction: column;
}

.product-edit-form label,
.product-edit-form input,
.product-edit-form button {
  margin-bottom: 10px;
}

.product-edit-form input,
.product-edit-form button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-edit-save-button {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.product-edit-save-button:hover {
  background-color: #4cae4c;
}
