.container {
  width: 100%;
  height: 90px;
  background-color: #5b7860;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-family: "Cabin";
}
.footer-sections {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 15px;
}

.title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.title:hover {
  color: rgb(144, 189, 158);
  font-weight: bold;
}

.text {
  color: #ffffff;
  font-size: 15px;
  margin: 0 10px;
  margin-bottom: 15px;
}

.social-icon {
  width: 30px;
  height: auto;
  margin-top: 20px;
  color: #ffffff;
  margin: 0 2px;
}

.social-icon:hover {
  transform: scale(1.1);
}
